[submodule "libraries/libimobiledevice"]
	path = libraries/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice
[submodule "libraries/miniupnpc"]
	path = libraries/miniupnpc
	url = https://github.com/NyaMisty/minimalupnpc
